<h1>Reduzindo tamanho do document .PDF</h1>
<p>Para reduzir o tamanho do PDF, acesse o site abaixo clicando no botão:</p>

<%= link_to 'Site para reduzir documento', 'https://docupub.com/pdfcompress/', class: 'btn btn-primary', target: '_blank' %>
<hr/>

<p>e siga as instruções do vídeo abaixo: </p>

<video width="800" height="500" controls="controls" autoplay="autoplay">
  <source src="https://www.dropbox.com/s/npxtfk6bg1i1tbb/comprimir%20pdf-2019-05-12_13.23.27.mkv?raw=1" type="video/mp4">
  <object data="" width="800" height="500">
    <embed width="800" height="500" src="https://www.dropbox.com/s/3914zypeo7ysy7c/ECOVIDA%20-%20diminuir%20PDF.mkv?raw=1">
  </object>
</video>

<p>Você também pode ver e fazer o download do vídeo <%= link_to 'Clicando aqui', 'https://www.dropbox.com/s/npxtfk6bg1i1tbb/comprimir%20pdf-2019-05-12_13.23.27.mkv?dl=0', target: '_blank' %>.</p>
