<div class="modal fade" tabindex="-1" role="dialog" id="products-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
        <h4 class="modal-title">Produtos da propriedade: <%= production_unity.name %></h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <table class = "table ">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Escopo</th>
              </tr>
            </thead>

            <tbody>
              <% production_unity.scope_products.each do |scope_product| %>
              <tr>
                <td><%= scope_product.product.name %></td>
                <td><%= scope_product.production_unity_scope.scope.name %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
