<p><%= link_to 'Ínicio', root_path %> - Dados excluídos</p>

<div class="row">
  <div class = "col-md-3">
    <h2>Membros</h2>
    <p>Veja aqui os membros excluídos</p>
    <p><%= link_to 'Visualizar', excluded_data_farmers_path, class: "btn btn-default" %></p>
  </div>
  <div class = "col-md-3">
    <h2>Grupos</h2>
    <p>Veja aqui os grupos excluídos</p>
    <p><%= link_to 'Visualizar', excluded_data_groups_path, class: "btn btn-default" %></p>
  </div>
  <div class = "col-md-3">
    <h2>Propriedades</h2>
    <p>Veja aqui os membros excluídos</p>
    <p><%= link_to 'Visualizar', excluded_data_production_unities_path, class: "btn btn-default" %></p>
  </div>
</div>
