<div class = "page" >
  <div class = "page_one page_border" align = "center">
    <div>
      <div class="logo">
        <%= wicked_pdf_image_tag 'logo.png' %>
      </div>
      <div class="logo_title">
        <br/>
        <br/>
        <h1>ASSOCIAÇÃO ECOVIDA DE CERTIFICAÇÃO PARTICIPATIVA</h1>
        <h4>OPAC cadastrada no MAPA sob o Nº 05</h4>
        <h5>CNPJ: 04.371.122/0001-45</h5>
      </div>
      <div class = "clearfix">
      <h2>CERTIFICADO DE CONFORMIDADE ORGÂNICA</h2>
      <p>Certificado Nº: <%= certificate.certificate_id %>/<%= certificate.certificate_group.meeting_date.year %></p>
      </div>
