
<fieldset>
	<legend>
		Sobre
	</legend>
	<p>
		Para conversar diretamente com os desenvolvedores, mande um email para <%= link_to "software.ecovida@gmail.com", "mailto:software.ecovida@gmail.com" %>.  Veja abaixo as dicas para o envío do email
	</p>
</fieldset>

<fieldset>
	<legend>
		Sempre se identifique
	</legend>
	<p>No começo da mensagem, diga quem é e de que núcleo você é, assim, facilitando a comunicação e o suporte.  Já no assunto, identifique se é: [Problema] [Sugestão] ou [Suporte]</p>
</fieldset>

<fieldset>
	<legend>Irá reportar um problema?</legend>
	<p>Sempre que for reportar um problema, descreva como chegou a ele, os dados que tentou informar e o que está acontecendo de errado, assim, facilitando o teste e a correção do problema.  Se for possível, tente gravar um vídeo ou tirar alguma foto e mandar por anexo.</p>
</fieldset>

<fieldset>
	<legend>Gostaria de fazer uma sugestão?</legend>
	<p>Se for fazer uma sugestão, explique claramente o que deseja, e o motivo real da sugestão \ alteração.  A sugestão será analizada, e se for víavel, será implementada assim que possível.</p>
</fieldset>

<fieldset>
	<legend>Precisa de ajudar?  Fale conosco</legend>
	<p>Qualquer dúvida sobre a utilização do sistema, você pode entrar em contato conosco, que iremos responder o mais rápido possível</p>
</fieldset>

<%= link_to "Voltar", root_path, class: "btn btn-default" %>